{% extends "admin/base.html" %}

{% block title %}{{ "The Quiz App" }} | {{ site_title|default:_('The Quiz App') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">The Quiz App</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
