{% extends './layout.html' %}

{% block results %}
<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>
<h1> {{object_list.count}} tests found</h1>
<div class="col-md-8">
    <div class="list-group">
    {% for t in object_list %}
        <a href="/test/{{t.pk}}/" class="list-group-item">
            <h3>{{t.title}}</h3>
            <p class="text-primary">{{ t.created }}</p>
            {{t.question_count}}/{{t.question_limit}}
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: {{t.remaining_count}}%"></div>
            </div>
        </a>
    {% endfor %}
    <div>
<div>
{% endblock %}
